



        /* footer */

         .footer {
            background-color: #ffffff;
            padding: 30px 0;
          }
          
          .footer h3 {
            color: #333;
            font-size: 20px;
            margin-bottom: 20px;
          }
          
          .container{
            line-height: 1;
          }
          
          .footer p {
            color: #163b72;
            line-height: normal;
          }
          
          .footer ul {
            list-style: none;
            padding: 0;
           
          }
          
          .footer ul li {
            margin-bottom: 10px;
        
          }
          
          
          .footer ul li a {
            color: #163b72;
            text-decoration: none;
            transition: color 0.3s ease;
            line-height: 4px;
            font-size: 17px;

          }
          
          .footer ul li a:hover {
            color: #f7eded;
          }